<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center">
      <%= @user.username %><br/>
    </h3>
    
    <p>
      <strong> Created Events: </strong>
      <% @user.created_events.each do |created_event| %>
        <li><%= link_to created_event.description, event_path  %></li>
      <% end %>
    </p>

    <p>
      <strong> Events Attended: </strong>
      <% @user.attended_events.each do |event| %>
         <li><%= link_to event.description, event_path  %></li>
      <% end %>
    </p>

    <p> 
      <strong> Previously Attended Events </strong>
      <% @previous_event.each do |event| %>
        <li><%= link_to event.title, event_path %></li>
      <% end %>
    </p>

    <p> 
      <strong> Upcoming Events </strong>
      <% @upcoming_event.each do |event| %>
        <li><%= link_to event.title, event_path %></li>
      <% end %>
    </p>
  </div>
</div>