<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center"> All Event </h3>
    <% @events.each do |event| %>
      <strong><%= event.title %></strong><br/>
      <%= event.description %><br />
      <span>Creator</span>
      <strong><%= event.creator.name %></strong>
      <br/>
      <%= link_to 'Attend Event' %>
      <br />
      <br/>
    <% end %> <br />
    <%= link_to 'Click to create an event', new_event_path, class:"btn btn-primary" %> 
  </div>
</div>