<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center"> Create a new Event </h3>

    <%= form_with(model: @event, local: true) do |f| %>
     
      <%= f.label :Title %>
      <%= f.text_field :title, autofocus: true, class:' mb-1 form-control' %>

      <%= f.label :Description %>
      <%= f.text_area :description, class:' mb-1 form-control' %>

      <%= f.label :Date %>
      <%= f.datetime_field :events_date, class:' mb-1 form-control' %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Create event", class: 'mt-2 btn btn-primary' %>
        <%= link_to 'Cancel', events_path, class: "mt-2 btn btn-primary px-5"%>
      </div>
    <% end %>
  </div>
</div>