<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center"> Create a new Event </h3>

    <%= form_with(model: @event, local: true) do |f| %>
     
      <%= f.label :Title %>
      <%= f.text_field :title, class:' mb-1 form-control' %>

      <%= f.label :Description %>
      <%= f.text_area :description, class:' mb-1 form-control' %>

      <%= f.label :Date %>
      <%= f.date_field :events_date, class:' mb-1 form-control' %>
      
      <%= f.submit "Create event", class: 'mt-2 btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', events_path, class: "btn btn-primary"%>