<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center"> Show A Single Event </h3>
    
    Title: <p><%= @event.title %></p><br />
    Description: <p><%= @event.description %></p><br />
    Event Date: <%= @event.events_date %><br />
    Orgaised By: <%= @event.creator.name %><br />
    Attendees: 
    <% if @event.attendees.exists? %>
      <%= @event.attendees.name %>
    <% else %>
      <p>No Attendees yet</p>
    <% end %>

  </div>
</div>